*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    border-bottom: 4px solid #7510F7;
    box-shadow: 2px 2px 7px black;
    
}
.hover-3 {
    --b: 0.1em;   /* the thickness of the line */
    --c: #7510F7; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover-3:hover {
    --_p: 100%;
    --_s: .3s;
  }
.say{
    font-family: system-ui, sans-serif;
    font-size: 1.7rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.hello{
  border-style: none;
  background-color: white;
  margin-left: 900px;

}
.logo{
    width: 80px;
    height: 70px;
    margin-left: 50px;

}
.logo:hover{
    transform: scale(1.4);
    transition: 1s all;
}
.open{
    width: 100%;
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hi{
    font-size: 4em;
    color:#141C3A;
    font-family: 'Poppins', sans-serif;
}
.yazi1{
    font-size: 1.7em;
    color: #141C3A;
    font-family: 'Poppins', sans-serif;
}
.profil{
    width: 260px;
    height: 260px;
}
.comp{
    width: 600px;
    height: 480px;
    object-fit: contain;

}
.pic2{
    width: 100%;
    height:400px ;
    display: flex;
    justify-content: center;
    justify-content: center;
    border-bottom: 2px solid #7510F7;
}
.purple{
  width: 100%;
  height: 700px;
  border: 1px solid #7510F7;
  background-color: #7510F7;

}
.name{
  text-align: center;
  font-size: 2em;
   color: white;
   margin-top: 70px;
   font-family: 'Poppins', sans-serif;
}
.yazi2{
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.about{
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.school{
  color: white;
  text-align: left;
}
.flag{
  width: 70px;
  height: 70px;
}
.language{
  width: 400px;
  height: 750px;
  border: 1px solid #FAFCFC;
  border-radius: 20px 60px 40px 80px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 3px 3px 4px black;
  position: absolute;
  right: 170px;
  top: 1700px;
  
}
.language h2{
  color: #141C3A;
  width: 198px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
 
}
.country{
  width: 200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.name2{
  width:200px ;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.exp{
  width: 400px;
  height: 750px;
  border: 1px solid #FAFCFC;
  border-radius: 20px 60px 40px 80px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction:row;
  box-shadow: 3px 3px 4px black;
  position: absolute;
  left: 170px;
  top: 1700px;
}
.know{
  width: 200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.name3{
  width: 200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.exp img{
  width: 70px;
  height: 70px;
}
.exp h2{
  width: 240px;
  height: 75px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  color: #141C3A;
  font-family: 'Poppins', sans-serif;
}

